section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    background-color: #b8b1b1;
    
  }
 
  
  @media (min-width: 768px) {
    section {
      flex-direction: row;
    }
  }
  
  img {
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 75;
    height: auto;
  }
  
  div {
    padding: 20px;
    text-align: center;
  }
  
  @media (min-width: 768px) {
    div {
      text-align: left;
    }
  }
  
  button {
    margin-top: 20px;
    padding: 12px 24px;
    background-color: #3b82f6;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #2563eb;
  }
  


