/* Contact.css */

/* Container for the entire section */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
  }
  
  /* Image section styling */
  .imageSection {
    margin-bottom: 20px;
  }
  
  /* Image styling */
  .image {
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 8px;
  }
  
  /* Description section styling */
  .descriptionSection {
    text-align: center;
  }
  
  /* Heading styling */
  .heading {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  /* Description text styling */
  .description {
    font-size: 1.1rem;
    margin-bottom: 20px;
    color: #555;
  }
  
  /* Button styling */
  .button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #007bff;
    color: rgb(246, 241, 241);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  /* Button hover effect */
  .button:hover {
    background-color: #0056b3;
  }
  

   /* Contact Section Styling */
.contact-section {
    padding: 20px;
  }
  
  .contact-section h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .contact-section p {
    font-size: 1.1rem;
    color: #f3f0f0;
    margin-bottom: 20px;
  }
  
  /* Footer Section Styling */
  .footer {
    background-color :#020202; 
    padding: 20px;
    margin-top: 40px;
    text-align: center;
  }
  
  .footer-links {
    display: flex;
    justify-content: space-around;
    padding: 20px;
  }
  
  .link-column {
    list-style-type: none;
  }
  
  .link-column h4 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .link-column ul {
    padding: 0;
  }
  
  .link-column li {
    margin-bottom: 8px;
  }
  
  .link-column a {
    text-decoration: none;
    color: #007BFF;
    font-size: 1rem;
  }
  
  .link-column a:hover {
    text-decoration: underline;
  }
  