/* Carousel2.css */

#carouselExampleDark {
    margin: 20px auto;
    max-width: 600px;
}

.carousel-indicators button {
    background-color: #000;
    border: none;
}

.carousel-indicators button.active {
    background-color: #fff;
}

.carousel-item img {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    height: 500px;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 10px;
}

.carousel-caption h5 {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
}

.carousel-caption p {
    color: #ccc;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}

.carousel-control-prev,
.carousel-control-next {
    filter: brightness(0) invert(1);
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    filter: none;
}
